@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: black;
    background-image: url('./assets//pngs/gradient6.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-position: center;
    background-blend-mode: overlay;
}

.gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: gradient-animation 3s infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}